<div mat-dialog-content>
  
<div class="row" style="background: #d94e3b;">
  <div class="col-2" style="margin: auto;
  text-align: center; color: #fff;">
    <i class="fa fa-ban" aria-hidden="true"></i>
  </div>
  <div class="col-10" style="    background: white;">
    Are you sure want to delete?
   <div style="display: flex; justify-content: end;" >
    <button class="btn-del" (click)="onNoClick()" >Yes</button>
    <button class="btn-can" (click)="onNoClick()">Cancle</button></div>
  </div>
</div>
</div>